@import url('https://fonts.googleapis.com/css?family=Snowburst+One');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-heading {
  background-color: rgb(224, 243, 250); /* Old browsers */
  background-image: -moz-linear-gradient(
    top,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(
    top,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(
    to bottom,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgba(74, 48, 233, 0.95);
  font-family: 'Snowburst One', cursive;
  font-size: calc(10px + 2vmin);
  min-height: 1.6em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 4px 6px 8px rgba(164, 172, 172, 0.7);
}
